version: '3.5'

services:
  db:
    image: neo4j:4.3.6
    restart: always
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - data:/data
    environment:
      - NEO4J_AUTH=neo4j/password

  frontend:
    build: ./frontend/river_routes_web_app
    restart: always
    ports:
      - "8080:8080"

  backend:
    build:
      context: .
      dockerfile: osm-pump.dockerfile
    restart: always
    ports:
      - "8081:8081"
    environment:
      - SPRING_DATASOURCE_USERNAME=neo4j
      - SPRING_DATASOURCE_PASSWORD=password
      - SPRING_NEO4J_URI=bolt://db:7687

    command: "java -jar osm-pump.jar"

volumes:
  data:

networks:
  default:
    driver: bridge
