version: '3.5'

services:
  db_neo4j:
    image: neo4j:4.3.6
    container_name: osm_pump
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - ./data:/data
    environment:
      - NEO4J_AUTH=neo4j/password